{% extends 'base.html.twig' %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Birthday</th>
				<th>Phone</th>
				<th>Club</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>

			<tr>
				<td scope="row">{{ student.id }}</td>
				<td>{{ student.name }}</td>
				<td>{{ student.birthday | date('d/m/Y') }}
				</td>
				<td>{{ student.phone }}</td>
				<td>
					{% if (student.club != null) %}

						<a href="{{ path ('club_detail', {'id' : student.club.id })}}">
							{{ student.club.name }}
						</a>

					{% endif %}
				</td>
				{% if is_granted('ROLE_ADMIN') %}
					<td>
						<a href="{{ path ('student_edit', {'id' : student.id })}}">
							<img src="{{ asset ('images/edit.jpg') }}" width="50" height="50">
						</a>
						<a href="{{ path ('student_delete', {'id' : student.id }) }}" onclick="return confirm('Do you want to delete this student ?')">
							<img src="{{ asset ('images/delete.jpg') }}" width="70" height="50">
						</a>
					</td>
				{% endif %}
			</tr>
		</tbody>
	</tr>
</tbody></table>{% endblock %}
