{% extends "base.html.twig" %}

{% block body %}

<div class="container col-md-6 mt-3 mb-3" style="border: 3px solid black;background-color:#424242;color:white">
    <h2 class="text-center">Add new teacher</h2>
    <div class="col md-6"></div>
       {{ form_start (form) }}
      <div class="form-group">
         {{ form_label (form.name) }}
         {{ form_widget (form.name,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.dob) }}
         {{ form_widget (form.dob,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.email) }}
         {{ form_widget (form.email,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.phone) }}
         {{ form_widget (form.phone,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div> 
      <div class="form-group">
         {{ form_label (form.address) }}
         {{ form_widget (form.address,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
      {{ form_label (form.city) }}
      {{ form_widget (form.city,
         {
            'attr' : {'class' : 'form-control'}
         })
      }}
      </div>
      <div class="form-group">
      {{ form_label (form.image) }}
      {{ form_widget (form.image,
         {
            'attr' : {'class' : 'form-control'}
         })
      }}
      </div>

      <div class="form-group text-center mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Add">
         <a class="btn btn-danger" href="{{path('classroom_index')}}">Return</a>
      </div>
   {{ form_end (form) }}
</div>

{% endblock %}