{% extends 'base.html.twig' %}

{%block body %}
<div class="container-md col-md-8 text-center">

    <a class="btn btn-primary mt-4 mb-4" href="{{path('teacher_index')}}">
        Return
    </a>
    <table class="table table-dark">
        <thead class="thead-inverse|thead-default">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Class</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Phone</th>
                <th>City</th>
                <th>Address</th>
                
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{teacher.name}}</td>
                    <td>
                        <img src="{{ asset ('images/'~teacher.image) }}" class="rounded-circle" wight="100" height="120">
                    </td>
                    
                    <td> {% for c in teacher.classrooms %}
                    <a href="{{ path ('classroom_detail',{'id':c.id})}}" style="text-decoration:none"> {{c.classname  }} </a>
                       
                        <br>
                    {% endfor %}
                    </td>
                    <td>{{teacher.dob | date('d/m/Y')}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.phone}}</td>
                    <td>{{teacher.city}}</td>
                    <td>{{teacher.address}}</td>
                    
                </tr>
            </tbody>
    </table>
</div>   
    
{%endblock %}
