{% extends 'base.html.twig' %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Club Name</th>
				<th>Founded year</th>
				<th>Image</th>
				<th>Student(s)</th>
				{% if is_granted('ROLE_ADMIN') %}
				<th>Edit</th>
				<th>Delete</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">{{ club.name }}</td>
				<td>{{ club.year }}</td>
				<td>
					<img src="{{ asset('images/'~club.image) }}" width="140" height="120">
				</td>
				<td>
					{% if club.students != null %}

						{% for student in club.students %}
							<a href="{{ path('student_detail', {'id' : student.id }) }}">
							{{student.name}} <br>
							</a>
						{% endfor %}
						
					{% endif %}
				</td>
				{% if is_granted('ROLE_ADMIN') %}
				<td>
					<a href="{{ path('club_edit', {'id': club.id}) }}">
					<img src="{{ asset('images/edit.jpg') }}" width="50" height="50">
					</a>
				</td>
				<td>
					<a href="{{ path('club_delete', {'id': club.id}) }}"
					onclick = "return confirm('Do you want to deletet this club?')">
					<img src="{{ asset('images/delete.jpg') }}" width="70" height="50">
					</a>
				</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
	
{% endblock %}