{% extends 'base.html.twig' %}

{%block body %}
<div class="container-md col-md-8 text-center">
    <a class="btn btn-primary mt-4 mb-4" href="{{path('classroom_add')}}">Add</a>
    <table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
        <thead class="thead-inverse|thead-default">
            <tr>
                <th>STT</th>
                <th>Course</th>
                <th>Class Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in classes %}
                <tr>
                    <td scope="row">{{c.id}}</td>
                    <td>{{c.course}}</td>
                    <td> <a href="{{path('classroom_detail',{'id':c.id})}}">{{c.classname}}</a></td>
                    <td>
                        <a class="btn btn-warning" href="{{path('classroom_edit',{'id':c.id})}}">Edit</a>
                        <a class="btn btn-danger" href="{{path('classroom_delete',{'id':c.id})}}"
                        onclick="return confirm('Are you sure delete this classroom?')"
                        >Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
    </table>
</div>   
    
{%endblock %}
