{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md col-md-8 ">
	<a class="btn btn-primary mt-4 mb-4" href="{{path('course_category_index')}}">
        Return
    </a>
    
    <table class="table table-dark text-center">
        <thead class="thead-inverse|thead-default">
            <tr>
                <th>Course Category Name</th>
				<th>Description</th>
				<th>Course</th>
            </tr>
        </thead>
        <tbody>			
            <tr>
                <td>{{ coursecategory.Name }}</td>
				<td>{{ coursecategory.Description }}</td>
				<td>
					{% if coursecategory.Courses != null %}

						{% for course in coursecategory.Courses %}
							<a href="{{ path('course_detail', {'id' : course.id }) }}" style="text-decoration:none">
							{{course.Name}} <br>
							</a>
						{% endfor %}
						
					{% endif %}
				</td>
            </tr>

        </tbody>
    </table>
    </div>
{% endblock %}
