{% extends 'base.html.twig' %}

{% block body %}
<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Course Category Name</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for coursecategory in coursecategories %}
				<tr>
					<td scope="row">{{ coursecategory.id }}</td>
					<td>
						<a href="{{ path('course_category_detail', {'id': coursecategory.id })}}">
							{{ coursecategory.Name }}</a>
					</td>
					<td>
						<a href="{{ path('course_category_detail', {'id': coursecategory.id })}}">
							{{ coursecategory.Description }}</a>
					</td>
					<td>
						<a href="{{ path('course_category_edit', {'id' : coursecategory.id }) }}">
							Edit
						</a>
					</td>
					<td>
						<a href="{{ path('course_category_delete', {'id' : coursecategory.id }) }}" 
                        onclick="return confirm('Do you want to delete this course ?')">
							Delete
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
